
/* This Class is used in html line no:-> 34 */

.MyStyle{
    height: 700px;
    width: 700px;
    background-color: steelblue;
    border-radius: 20px;
    position: fixed;
    left: 0;
    top: -30px;
    transform: rotate(45deg);
    z-index: -1;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.321);
}



/* HTML line 402-410 */

.Img-Transform img:hover{
    transform: scale(1.1);
    transition: ease-in-out 2s;
    filter: drop-shadow(1px 1px 20px rgb(0, 0, 0));
}



/* HTML line no:-> 67 ,133 ,201 ,217 ,285 ,386 , 429*/

.BoxForFontStyle h1{
    font-weight: 700;
    color: white;
}



/* HTML line no:-> 132 ,216*/

.Custom {
    background-color: #F9EFE5;
}



/* HTML line :-> 324 , */

.Custom-Color {
    background-color: #F9EFE5

}



/* HTML line no:-> 43 ,200 , 429*/

.Media-sm button {
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
   background-color: rgba(#E56639);
    color: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 2;
  
}

.Media-sm button:hover{
    background-color: yellow;
    filter: drop-shadow(1px 1px 10px rgba(255, 255, 0, 0.427));
    color: black;
}

.checked {
    /* Color of rating */
    color: orange;

}



/* HTML line :->293,300,304 ,439*/

.fonts i{
    text-align: center;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.348);
    margin: 10px;
}

#Facebook:hover{
    background-color: rgba(0, 0, 255, 0.421);
 
   
}



/* HTML line no:-> 139 ,224, 239 ,252,265*/


.Colors {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
}


.Colors button {
    border-radius: 50%;
    padding: 15px;
    border: none;
    margin: 8px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.321);
}

.Colors button:hover {
    transform: scaleX(1.03);
    font-size: 20px;
    background-color: slateblue;
}


.Colors input {
    padding: 7px;
    padding-block: 4px;
    border: 1px solid black;
    border-radius: 6px;
    background: transparent;
    margin: 4px;
    box-shadow: 5px 5px 10px black;
}

.Colors input:hover {
    transform: scale(1.2);
    
}


/* Html line  313 , 415 */

.Button-Custom button{
    box-shadow: 10px 10px 30px black;
}





/* Html line :-> 427 */

.Add-P2 {
    background-color:#666666;

}

@media (min-width: 300px) and (max-width:700px) {

    .Media-sm h1,
    p {
        text-align: center;
        padding: 10px;
        font-weight: 700;
    }
    .MyStyle{
    height: 500px;
    width: 500px;
    margin-top: -70px;
    }

    .Media-sm button {
        margin-left: 80px;
        margin-bottom: 70px;
        margin-top: 30px;
        background-color: #E56639;

    }

    .Colors {
        text-align: center;

    }

}

@media (min-width:1200px) {
    .Custom h1 {
        font-size: 45px;
        font-weight: 500;

    }
    .Media-sm p{
        font-size: 20px;
        font-weight: 700;
       
    }
    .Media-sm h1{
        font-size: 50px;
        font-weight: 600;
        font-variant: inherit;
       color: black;
      
    }

}