.MyStyle{
    height: 700px;
    width: 700px;
    background-color: steelblue;
    border-radius: 20px;
    position: fixed;
    left: 0;
    top: -30px;
    transform: rotate(45deg);
    z-index: -1;
    box-shadow: 20px 20px 60px rgb(0, 0, 0);
}



.Custom {
    background-color: wheat;
}

.Custom-Color {
    background-color: rgba(15, 196, 216, 0.79);

}

.Media-sm button {
    border: none;
    box-shadow: 10px 20px 40px rgb(0, 0, 0);
   background-color: rgba(198, 15, 15, 0.842);
    color: rgb(0, 0, 0);
    font-weight: 600;
  
}
.checked {
    color: orange;

}

.fonts i{
    text-align: center;
    font-size: 40px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 20px 20px 30px black;
    margin: 10px;
}
#Facebook:hover{
    background-color: rgba(124, 124, 210, 0.837);
}

.Colors button {
    border-radius: 50%;
    padding: 17px;
    border: none;
    margin: 8px;
    box-shadow: 20px 20px 30px black;
}

.Colors {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
}

.Colors input {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background: transparent;
    margin: 4px;
    box-shadow: 20px 20px 30px black;
}
.Button-Custom button{
    box-shadow: 20px 20px 30px black;
}

.Colors input:hover {
    transform: scale(1.2);
    
}

.Colors button:hover {
    transform: scale(1.0);
    font-size: 20px;
    background-color: slateblue;
}

.Add-P2 {
    background-color: slategrey;

}

@media (min-width: 300px) and (max-width:700px) {

    .Media-sm h1,
    p {
        text-align: center;
        padding: 10px;
        font-weight: 700;
    }
.MyStyle{
    height: 400px;
    width: 400px;
}

    .Media-sm button {
        margin-left: 80px;
        margin-bottom: 70px;
        margin-top: 30px;

    }

    .Colors {
        text-align: center;

    }

}

@media (min-width:1200px) {
    .Custom h1 {
        font-size: 45px;
        font-weight: 500;

    }
    .Media-sm p{
        font-size: 20px;
        font-weight: 700;
        font-family: monospace;
    }
    .Media-sm h1{
        font-size: 50px;
        font-weight: 600;
        font-variant: inherit;
       color: black;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

}